/*imports*/
@import '../sass/helpers/__reset.scss'; 
@import '../sass/helpers/__functions.scss'; 
@import '../sass/helpers/__typography.scss'; 
@import '../sass/helpers/__mixins.scss'; 
@import '../sass/helpers/__pagewrapper.scss'; 
@import '../sass/components/__buttons.scss'; 
@import '../sass/helpers/__fonts.scss'; 
@import '../sass/helpers/__colors.scss'; 
.topslide {
	background: url('../img/imgTopSlider.jpg') center center no-repeat;
	height: 850px;
	background-size: cover;
	&__text{
		float: right;
		margin: 38% 10% auto auto;
		&--head {
			@include sliderHeadText;
		}
		&--subtext{
			@include contsmallhead;
		}
	}
}
.router-link-active {
  color: red;
}
/**/
.toprow {
	  padding: 25px 0 25px 0;
}
.menu {
	&__item {
		a{
			@include fontMenuTop;
			span {
				font-size:em($font-size-twentyfive_pixels);
			}
			&:hover{
				color:$topFontMenuColorHover;
			}
		}
	}
}
/**/
.clientopdiv {
	background: $galeryBackground;
	margin: 212px auto 100px auto;
}
.clientop{
	padding: 30% 0 0 0; 
	&__bigtext {
		@include clientop;
	}
	&__smalltext{
		@include clienttopsmalltext; 
	}
}
.clientopimg {
	&__item{
		position: relative;
    	top: -110px;
	}
}
/**/
/**/
.reservations {
	&__item1{
		position: relative;
	}
	&__item2{
		position: relative;
    	z-index: -1;
    	left: 90px; 
    	top: -60px;
	}
}
.reservations {
	&__head {
		@include contheadtext;
		text-align: left !important; 
	}
	&__smalltext {
		@include fontAboutTextSmall;
		text-align: left !important;  
	}
	&__firstpar{
		@include fontAboutBigText; 
	}
}
/**/
.aboutsection {
	padding: 110px 0 100px 0;
}
/**/
#app {
	ul {
		border-bottom: 1px solid $menuborder; 
		display: flex; 
		list-style: none;
		padding: 0 0px 30px 0;
		margin: 0 auto; 
		justify-content: center;      
		li{
			margin:0 80px 0 0;    
			a {
				 font: $bold-weight em($font-size-thirteen_pixels) 'Montserrat', sans-serif;
				 color: $topFontMenuColor; 
				 text-transform: uppercase;   
				 &:hover {
					 color: $topFontMenuColorHover;
					 padding: 0 0 32px 0;
					 border-bottom: 2px solid $topFontMenuColorHover;
				 }
			}
		}
	}
}
.menuHeader {
	font: $bold-weight em($font-size-thirty_pixels) 'Roboto', sans-serif;
	color: $topFontMenuColor;
}
/**/
.aboutsectionimg {
	&__firstitem {
		position: relative;
    left: 70px;
    z-index: -1;
	}
	&__seconditem {
		position: relative;
    top: -75px;
	}
}
.abouttext {
	&__head {
		@include fontAboutHead;
	}
	&__smalltext {
		@include fontAboutTextSmall;
	}
	&__text{
		@include fontAboutBigText;
	}
}
/**/
/**/
.galerysection {
	background: $galeryBackground;
}
.galtext {
	text-align: right;
	margin: 130px 0 0 0;
	width: 40%;
	&__head {
		@include fontAboutHead;
	}
	&__text {
		@include fontAboutTextSmall;
	}
}
.galfirstrow {
	&__item {
		padding-top: .9375rem;
    padding-bottom: .9375rem;
	}
}
.galsecondrow {
	&__item {
		padding-top: .9375rem;
    	padding-bottom: .9375rem;
	}
}
/**/
/**/
.menusection {
	padding: 100px 0 105px 0;
}
.menu {
	&__head {
		@include fontAboutHead;
		text-align: right !important;
	}
	&__smallhead {
		@include fontAboutTextSmall;
		text-align: right !important;
		float: right;
	}
	&__text{
		@include fontAboutBigText;
		text-align: right !important;
		float: right;
		clear: both;
	}
}
.menusectionitems {
	&__firstimg {
		position: relative;
		z-index: 10;
		left: 145px;
		top: 30px;
	}
	&__secondimg {
		position: relative;
		left: 40px;
		top: -60px;
	}
}
/**/
.formsec{
	&__head {
		@include contdentHead;
	}
	&__items {
		&--text{
			@include formFieldSettings;
		}
		&--email{
			@include formFieldSettings;
		}
		&--lastname {
			@include formFieldSettings;
		}
		&--subject {
			@include formFieldSettings;
			margin: 0 0 30px 0;
		}
	}
}
.submitbutton {
	@include sendButton;
	margin: 25px auto 25px auto;
	&:hover {
		background: #f5f7fa;
		color: #000;
	}
}
/**/
.lunchrowBg {
	background: $galeryBackground;
	padding: 31px 0 32px 0;
}
.lunchrow {
	margin: 105px 0px;
    width: 45%;
	&__head {
		@include fontAboutHead;
		text-align: right !important;
	}
	&__text{
		@include contsmallhead;
		text-align: right !important;
	}
}
/**/
/**/
.contactrow {
	margin: 100px auto 101px auto;
}
.images {
	&__intem1 {
		position: relative;
		left: 100px;
		z-index: 1;
	}
	&__intem2 {
		position: relative;
    	top: -110px;
	}
}
.conttext {
	padding: 0 5% 0 0;
	&__head {
		@include contheadtext;
	}
	&__firsttext{
		@include fontAboutTextSmall;
		text-align: right;
	}
	&__secondtext {
		@include fontAboutBigText;
		text-align: right;
		float: right;
	}
}
/**/
/**/
.contdet {
	&__headingbg {
		@include contdentHead;
	}
}
.firstsection {
	&__heading {
		@include contsmallhead;
	}
	&__text{
		@include smalltext;
	}
}
.secontsection {
	&__heading {
		@include contsmallhead;
	}
	&__text{
		@include smalltext;
	}
}
.thirdsection {
	&__heading {
		@include contsmallhead;
	}
	&__mail {
		@include smalltext;
	}
}
/**/
/**/
.footerSection {
	background: $footerColorBg;
	min-height: 70px;
	img {
		margin: 17px auto auto auto; 
	}
	&__copyright {
		&--item {
			@include copyrightText;
			margin: 30px auto auto auto;
			text-align: center;
		}
	}
}
.social {
	&__list {
		display: flex;
		list-style: none;
		margin: 12px;
		&--item {
			margin:0 20px 0 0;
			a {
				font-size:em($font-size-thirty_pixels);
				color: $topFontMenuColor;
			}
			&__last {
				margin:0 !important;
			}
		}
	}
	&__text{
		&--item {
			margin: 30px auto auto auto; 
			@include copyrightText;
		}
	}
}
/**/
