doctype html
html(lang="pl")
  head
    title project title
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width initial-scale=1.0")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="css/main.min.css")
    link(rel="stylesheet" type="text/css" href="css/rwd.css")
  body
    include header
    include content
    include footer
    script(type="text/javascript" src="js/jquery-3.1.1.min.js")
    script(type="text/javascript" src="js/scripts.js")