@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin fontMenuTop {
  font:$bold-weight em($font-size-twelve_pixels) 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: $topFontMenuColor;
}
@mixin fontAboutHead{
  font:$bold-weight em($font-size-fifty_pixels) 'Roboto', sans-serif;
  color:$topFontMenuColor;
}
@mixin fontAboutTextSmall {
  font:$bold-weight em($font-size-twelve_pixels) 'Montserrat', sans-serif;
  color:$topFontMenuColorHover;
  text-transform: uppercase;
}
@mixin fontAboutBigText{
  font:$medium-weight em($font-size-twelve_pixels) 'Montserrat', sans-serif;
  color: $topFontMenuColor;
  line-height: 40px;
  width: 55%;
}
@mixin copyrightText {
   font:$bold-weight em($font-size-twelve_pixels) 'Roboto', sans-serif;
   color: $topFontMenuColor;
   text-transform: uppercase;
}
@mixin formFieldSettings {
  width: 100%;
  height: 34px;
  box-shadow: none;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-top: 0px;
  border-bottom: 2px solid $formBordercolor;
}
@mixin contdentHead {
  font: $bold-weight em($font-size-twenty_pixels) 'Montserrat', sans-serif;
  color:$topFontMenuColorHover;
  text-transform: uppercase;
}
@mixin contsmallhead {
  font:$bold-weight em($font-size-fifteen_pixels) 'Roboto', sans-serif;
  color:$topFontMenuColorHover;
  text-transform: uppercase;
}
@mixin smalltext{
  font: $bold-weight em($font-size-thirteen_pixels) 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: $topFontMenuColor;
}
@mixin contheadtext {
  font:$bold-weight em($font-size-fifty_pixels) 'Roboto', sans-serif;
  color: $topFontMenuColor;
  text-align: right;
}
@mixin clientop {
  font:$normal-weight em($font-size-twentyfive_pixels) 'Roboto', sans-serif;
  color: $topFontMenuColor;
  text-align: center;
}
@mixin clienttopsmalltext{
  font: $normal-weight em($font-size-twelve_pixels) 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: $topFontMenuColor;
  display: block;
  text-align: center;
}
@mixin sliderHeadText{
  font:$bold-weight em($font-size-fifty_pixels) 'Roboto', sans-serif;
  color: #fff;
}